<!DOCTYPE html>
<html>
<head>
  <title>HerokuControls</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% cu = current_user rescue nil %>
<% if cu %>
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Log in", login_path %>
<% end %>
<br>
<% flash.each do |key,msg| %>
    <div class="message" id="<%= key %>">
        <div class="message-inner">
            <h4><%= content_tag :div, msg %></h4>
        </div>
    </div>
<% end %>

<%= yield %>

</body>
</html>
